// ****** vw + rem 适配移动端 ******

// 设计稿宽度
$designWidth: 375;
// 设定 1rem = 100px
$blocks: 100;

// 缩放所支持的设备最小宽度
$minDeviceWidth: 320px;
// 缩放所支持的设备最大宽度
$maxDeviceWidth: 520px;

// 启用最小宽度限制
$enableMinLimit: true;
// 启用最大宽度限制
$enableMaxLimit: true;

// html 根元素的 font-size 定义
@mixin rootFontSize() {
  html {
    // 计算规则：
    // 100vw / 375px = 0.2666667vw，即 0.2666667vw = 1px = 0.2666667%
    // 为便于换算，设定 1rem = 100px, 即 26.66667vw = 100px = 1rem = 26.66667%
    // 也就是 375px = (375px / 100px)rem
    font-size: calc(100vw / $designWidth * $blocks) !important;
  
    // 最小宽度定义
    @if ($enableMinLimit) {
      @media screen and (max-width: $minDeviceWidth) {
        & {
          font-size: 533.33333% !important;
        }
      }
  
      body {
        min-width: $minDeviceWidth;
      }
    }
  
    // 最大宽度定义
    @if ($enableMaxLimit) {
      @media screen and (min-width: $maxDeviceWidth) {
        & {
          font-size: 866.66667% !important;
        }
      }
  
      body {
        margin-left: auto;
        margin-right: auto;
        max-width: $maxDeviceWidth;
      }
    }
  }
}

// px 转 rem
// 因为设定 1rem = 100px，即 0.01rem = 1px
@function px2rem($px) {
  @return #{calc($px / $blocks)}rem;
}